venv/
.venv/
venv12/
.venv12/
env/
.env

__pycache__/
*.pyc
*.pyo
*.pyd

.idea/
.vscode/

output/
log/
test_results/

*.pth
*.pt
*.onnx
*.mp4
*.zip
*.tar.gz
*.png

*.egg-info/
dist/
build/

generate_fcn_lists.py
generate_lst.py
masks_transfer.py
preprocess.py
scrip1.py
scrip2.py